.footer-container {
  padding: $padding-large 0;
  
}
.btn-box {
  @include flex-around;
  padding-bottom: $padding-normal;
  > div {
    @include flex-column;
    @include flex-center;
  }
  .eye-box {
    @include flex-center;
    @include flex-middle;
    margin-top: $margin-small;
    color: $color-icon; 
    cursor: pointer;
    span {
      margin-right: 5px;
      font-size: $font-mini;
    }
  }
  .btn {
    // @include flex;
    width: 250px;
    // border: ;
    .btn-content {
      @include flex-between;
      @include flex-middle;
      p {
        @include ellipsis;
        // display: inline-block;
        width: 200px;
      }
    }
  }
}
.des-box {
  @include flex-center;
  color: $color-des;
}