.container {
  height: 100%;
  // padding: 0 2rem;
}

.card-title-box {
  @include flex-between;
  @include solidBorderBottom(1px, $color-line);
  height: 52px;
  padding: 0 $padding-normal;
  > div {
    height: 100%;
  }
  .title {
    @include flex-middle;
    @include solidBorderBottom(2px);
    font-size: $font-middle;
    color: $color-theme;
    cursor: pointer;
    &:hover {
      color: $color-hover;
    }
  }
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
