
.breadcrumb-container{
  @include flex-center;
}
.breadcrumb {
  @include flex-middle;
  width: $width-main;
  min-width: $width-main-min;
  max-width: $width-main-max;
  margin: $margin-small 0;
  // padding: 0 $padding-large;
  .breadcrumb-item {
    &:hover {
      @include hoverNormal
    }
  }
}