.img-card-container {
  height: 100%;
  // border: 1px solid red;
  &:hover {
    .img-content-a {
      &:after {
        opacity: 1;
      }
    }
  }
  .img-content-a {
    @include flex-between;
    position: relative;
    flex-wrap: wrap;
    width: 240px;
    height: 240px;
    border-radius: 12px;
    overflow: hidden;
    &::after {
      content: " ";
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      left: 0;
      top: 0;
      opacity: 0;
      background-color: rgba(30,32,35,.35);
      z-index: 3;
      transition: opacity .25s ease-in-out;
      border-radius: 12px;
    }
  }
  .img-detail {
    margin-top: 8px;
    .title {
      @include flex-between;
      @include flex-middle;
      > p {
        @include ellipsis(1);
        width: 0; 
        flex: 1;
        margin-right: $margin-mini;
        font-size: $font-large;
        a {
          color: $color-blod;
        }
      }
    }
    .des {
      color: $color-des;
    }
  }
  .icon-dashboard {
    width: 24px;
    height: 24px;
    color: #505153;
    background-color: #edf2f5;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    &:hover {
      background: #e4e9ed;
    }
  }
  .img-item {
    cursor: pointer;
    object-fit: cover;
  }
  .card-meta {
    padding: 10px;
  }

}
.dropdown-icon {
  position: relative; // 设置定位，优化Dropdown弹窗有1px的偏移量
  left: 1px;
}
.dropdown-container {
  @include cardBoxShadow;
  display: flex;
  flex-flow: column wrap;
  flex-wrap: wrap;
  // @include flex-between;
  position: relative;
  // flex-wrap: wrap;
  width: 386px;
  height: 320px;
  padding: $padding-mini;
  background-color: #fff;
  border-radius: 12px;
  border: 1px solid #e5e8ed;
  .waterfall-container {
    @include scrollbarWrap;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 8px;
  }
}