.img-card-container {
  height: 100%;
  // border: 1px solid red;
  .img-content-a {
    @include flex-between;
    flex-wrap: wrap;
    width: 240px;
    height: 240px;
    border-radius: 12px;
    overflow: hidden;
  }
  .card-container {
    @include flex-column;
    @include flex-between;
    @include cardBoxShadow;
    height: 100%;
    &:hover {
      @include cardHoverShadow;
    }
  }
  .card-body {
    // padding: 5px 5px 0 5px;
  }
  .img-item {
    cursor: pointer;
    // width: 100% !important;
    // height: auto !important;
    // min-width: auto !important;
    // min-height: auto !important;
    object-fit: cover;
  }
  .card-meta {
    padding: 10px;
  }
  .description {

  }
  // .title {
  //   @include flex-between;
  //   .img-card-title {
      
  //   }
  // }
}