.img-card-container {
  height: 100%;
  // border: 1px solid red;
  &:hover {
    .img-content-a {
      &:after {
        opacity: 1;
      }
    }
  }
  .img-content-a {
    @include flex-between;
    position: relative;
    flex-wrap: wrap;
    width: 240px;
    height: 240px;
    border-radius: 12px;
    overflow: hidden;
    &::after {
      content: " ";
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      left: 0;
      top: 0;
      opacity: 0;
      background-color: rgba(30,32,35,.35);
      z-index: 3;
      transition: opacity .25s ease-in-out;
      border-radius: 12px;
    }
  }
  .img-detail {
    margin-top: 8px;
    .title {
      @include flex-between;
      @include flex-middle;
      > p {
        @include ellipsis(1);
        width: 0; 
        flex: 1;
        margin-right: $margin-mini;
        font-size: $font-large;
        a {
          color: $color-blod;
        }
      }
    }
    .des {
      color: $color-des;
    }
  }
  .icon-dashboard {
    width: 24px;
    height: 24px;
    color: #505153;
    background-color: #edf2f5;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    &:hover {
      background: #e4e9ed;
    }
  }
  .img-item {
    cursor: pointer;
    // width: 100% !important;
    // height: auto !important;
    // min-width: auto !important;
    // min-height: auto !important;
    object-fit: cover;
  }
  .card-meta {
    padding: 10px;
  }

  // .title {
  //   @include flex-between;
  //   .img-card-title {
      
  //   }
  // }
}

.dropdown-container {
  @include cardBoxShadow;
  display: flex;
  flex-flow: column wrap;
  flex-wrap: wrap;
  // @include flex-between;
  position: relative;
  // flex-wrap: wrap;
  width: 366px;
  height: 300px;
  overflow-y: auto;
  background-color: #fff;
  border-radius: 12px;
  border: 1px solid #e5e8ed;
  /*里面的代码可以根据自己需求去进行更改*/
  /* 设置滚动条的样式 */
  &::-webkit-scrollbar {
    width: 0;
  }
    /* 滚动槽 */
  &::-webkit-scrollbar-track {
    -webkit-box-shadow:inset006pxrgba(0,0,0,0.3);
    border-radius:10px;
  }
    /* 滚动条滑块 */
  &::-webkit-scrollbar-thumb {
    border-radius:10px;
    background:rgba(0,0,0,0.1);
    -webkit-box-shadow:inset006pxrgba(0,0,0,0.5);
  }
  &::-webkit-scrollbar-thumb:window-inactive {
    background:rgba(255,0,0,0.4);
  }
}