.next-img-container {
  > span {
    width: 100% !important;
    height: auto !important;
  }
  .next-img {
    position: relative !important;
    width: 100% !important;
    height: auto !important;
  }
}