.emoji-container {
  @include flex-column;
  @include flex-middle;
  text-align: center;
  .img-container {
    // width: 360px;
    min-width: 200px;
    max-width: 400px;
    margin-bottom: $margin-small;
  }
  .des {
    color: $color-des;
  }
}